.legger {
  position: absolute;
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0; }
  .legger div {
    text-align: center;
    width: 450px;
    height: 100%;
    padding: 20px; }
  .legger:nth-child(n) {
    background-color: #1f5b8e; }
  .legger:nth-child(2n) {
    background-color: #3ca194; }
  .legger:nth-child(3n) {
    background-color: #2194cf; }
