.header
  .container
    .row
      .col-sm-2
        a(href="/")
          img(src="assets/img/logo_white.png", alt="logo" style="width: 100%; height: auto;")
      .col-sm-1.col-sm-push-4.col-md-push-7
        a(href="#") HOME
      .col-sm-1.col-sm-push-4.col-md-push-7
        a(href="#") ABOUT
      .col-sm-1.col-sm-push-4.col-md-push-7
        a(href="#") CONTACT
