//output: ../../index.html
doctype html
html(lang='en')
  head
    title QSSBoosting
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='shortcut icon', href='assets/img/logo/logoAccentDark.png')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    script(src='assets/js/jquery-3.3.1.min.js')
    script(src='assets/js/jquery.easing.min.js', type='text/JavaScript')
    script(type="application/javascript", src="assets/js/jquery-ui/jquery-ui.js")
    script(type="application/javascript", src="assets/js/jqBootstrapValidation.js")
    script(type="application/javascript", src="assets/js/contact_me.js")
    script(type="application/javascript", src="https://cdn.jsdelivr.net/gh/restingcoder/discord-widget@1.1/discord-widget.min.js")
    //- script(type="text/javascript").
    //-     discordWidget.init({
    //-         serverId: '532005163817369620',
    //-         title: 'QSSBoosting Discord Channel',
    //-         join: true,
    //-         joinText: 'Join Server',
    //-         alphabetical: false,
    //-         theme: 'dark',
    //-         hideChannels: ['Duo Boosting 1', 'Duo Boosting 2'],
    //-         showAllUsers: false,
    //-         allUsersDefaultState: true,
    //-         showNick: false,
    //-         userName: '',
    //-         useCDN: true
    //-     });
    //-     discordWidget.render();
    
    a(href="https://discord.gg/GEwcEag" target="_blank").discord
      span.fab.fa-discord
      | DISCORD
      
    
    header
      a(href="/").logo
        img(src="assets/img/logo/qsslogoWhiteAccent.png", alt="logo")
      .nav
        a(href="/") HOME
        a.js-scroll-trigger(href="#about") ABOUT
        a.js-scroll-trigger(href="#boost") BOOST
        a.config.popup(href="#" data-display="Contact") CONTACT
        
        
    .full-screen-back.main.blurred
      .header-txt.absolute
        h1.txt-center SAFE AND RELIABLE ELO BOOSTING
        h3.txt-center We boost on North America, Europe West, Europe East & Nordic, Brazil, Latin America, Russia, Turkey & Oceania server
        
    main.blurred
      img(src="assets/img/logo/logoAccentDark.png", alt="logo").logo
    
      .main
        section#about
          .container
            .row
              //- .alert.col-xs-12
              //-   button(type='button' class='close' data-dismiss='alert' aria-hidden='true') &times;
              //-   h4.txt-center
              //-     | Please note that this site is still under development. If you have any questions please 
              //-     a.config.popup(href="#" data-display="Contact") contact 
              //-     | us. If you'd like to purchase a boost, please click on the "Discord" button on the right.
              .col-lg-12.txt-center
                h1.section-heading.txt-stylish Why Choose Us?
                h2.section-subheading.txt-muted We're glad you asked.
            .row.txt-center
              .col-md-4
                span.fa-stack.fa-4x
                  i.fas.fa-circle.fa-stack-2x.txt-primary
                  i.fas.fa-user-tie.fa-stack-1x.txt-black
                h3.service-heading Incredible Customer Service
                p.txt-muted
                  | Our customer support team is always ready to help and will answer any questions you have. 24/7 availability!
              .col-md-4
                span.fa-stack.fa-4x
                  i.fas.fa-circle.fa-stack-2x.txt-primary
                  i.fas.fa-laptop.fa-stack-1x.txt-black
                h3.service-heading Professional Boosters
                p.txt-muted
                  | Our team consists of high diamond to challenger players capable of finishing any boost in record-breaking times.
              .col-md-4
                span.fa-stack.fa-4x
                  i.fas.fa-circle.fa-stack-2x.txt-primary
                  i.fas.fa-lock.fa-stack-1x.txt-black
                h3.service-heading Secure Private VPNs
                p.txt-muted
                  | Dramatically reduces ban rate / account suspension. We have had 0 issues to this date!
              .col-md-12.med-mar-top
              .col-md-6.col-md-push-3
                #discord.discord-widget
                  
        section#boost
          .container.txt-center
            h1.txt-center Select Your Boost
            .row.sm-trans
              .col-sm-8.col-sm-push-2.col-md-3.col-md-push-0
                .config.popup.pointer.SoloDuo(data-display="SoloDuo")
                  span
                    i(class="fas fa-plus")
                  h2.txt-center Select Solo/Duo
              .col-sm-8.col-sm-push-2.col-md-3.col-md-push-0
                .config.popup.pointer.YourRank(data-display="YourRank")
                  span
                    i(class="fas fa-plus")
                  h2.txt-center Your Rank
              .col-sm-8.col-sm-push-2.col-md-3.col-md-push-0
                .config.popup.pointer.BoostType(data-display="BoostType")
                  span
                    i(class="fas fa-plus")
                  h2.txt-center Select Boost Type
                
              .col-sm-8.col-sm-push-2.col-md-3.col-md-push-0.lastBoost.numOfGames
                .config
                  button.winbtn.minus(type="submit") -
                  input.wininput(type='number' value="4")
                  button.winbtn.plus(type="submit") +
                  h2.txt-center Number of Net Wins
              .col-sm-8.col-sm-push-2.col-md-3.col-md-push-0.lastBoost.wishRank
                .config.popup.pointer.WishRank(data-display="WishRank")
                  span
                    i(class="fas fa-plus")
                  h2.txt-center Desired Rank
            
            .configSelect.txt-center
              select#mounth
                option(value='hide')  Server
                option(value='Brazil') Brazil
                option(value='EU-Nordic &amp; East') EU-Nordic & East
                option(value='EU-West') EU-West
                option(value='Garena') Garena
                option(value='Japan') Japan
                option(value='Latin America North') Latin America North
                option(value='Latin America South') Latin America South
                option(value='North America') North America
                option(value='Oceania') Oceania
                option(value='Russia') Russia
                option(value='Turkey') Turkey
            
            .priceQuote
              h1.price.txt-center
            
            .row.relative(data-tooltip="Please Select Your Current Server.")
              .col-xs-12
              button#quePurchase(style="width: 220px").disabled.button.txt-stylish.config.popup Purchase
        
        section#rateCarousel.carousel.slide.sm-padding(data-ride='carousel')
          h1.txt-center.center-block.sm-padding.txt-stylish What our customers think of us.
          .carousel-inner
            .item.active
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user1
                    h3.txt-center.txt-stylish Comixy
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | Amazing service, great price, hard carried and was fast! 10/10 would recommend.
            .item
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user2
                    h3.txt-center.txt-stylish Assertindominance 
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | Fantastic service and great communication! Can carry in any role and do so rapidly. Overall is a great experience talking with the booster and also helping me while I'm hardstuck! I'd recommend these guys to anyone who needs a reliable and fast boost!
            .item
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user3
                    h3.txt-center.txt-stylish Doublesnift 
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | Super pleased with the work that was done. Very laid back player and easy to play with. Highly recommend Sheldon!
            .item
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user4
                    h3.txt-center.txt-stylish Verybaddianaplayer 
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | Just got a duo boost to Gold IV from Epricola, we won EVERY SINGLE GAME, he hard carried and didnt tilt even when he was getting camped, he 2v1'd 3v1'd, and basically singlehandedly carried the entire game + he was really friendly on discord too. Highly recommend purchasing their boost if you're on the fence about it.
            .item
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user5
                    h3.txt-center.txt-stylish KoreanWood10 
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | I bought solo boost for silver 4 -gold 4 mid lane on fresh mmr account. Got it done pretty quickly with the insane LP gains. While he was playing, I spectated him and watched him crush players. I also asked several questions such as why he made this or that decision. He also gives helpful advice in general.
            .item
              .carousel-rate
                .center
                  .center-block
                    .user.center-block.user6
                    h3.txt-center.txt-stylish Willyboyo8 
                  .center-block.txt-center
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    h3
                      | Great service and price and also good at communicating. Purchased a Duo Boost from Plat 1 to Diamond 4 and completed quite fast (went 10-2). Skill level was good and did not tilt after losses. Overall, very satisfied. Very nice guy.
          a.left.carousel-control.carousel-rate(href='#rateCarousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
            span.sr-only Previous
          a.right.carousel-control.carousel-rate(href='#rateCarousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
            span.sr-only Next
          ol.carousel-indicators
            li.active(data-target='#rateCarousel', data-slide-to='0')
            li(data-target='#rateCarousel', data-slide-to='1')
            li(data-target='#rateCarousel', data-slide-to='2')
            li(data-target='#rateCarousel', data-slide-to='3')
            li(data-target='#rateCarousel', data-slide-to='4')
            li(data-target='#rateCarousel', data-slide-to='5')
      
      
      footer.blurred
        .container
          .row
            .col-md-push-1.col-md-4.col-xs-12
              img(src='assets/img/logo/qsslogoAccent2.png', alt='', height='50px')
              h4.txt-muted(style="line-height: 2;") QSS Boosting isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
            .col-md-push-3.col-md-4.col-xs-12
              h2.txt-stylish Contact Us
              h4.txt-muted(style="line-height: 2;") We are an elo boosting organization dedicated to providing the fastest services while emphasizing security. Our customer service team is happy to help you out with any of your questions or issues.
              a.config.popup(href="#" data-display="Contact").button.txt-stylish Contact
            .col-xs-12.txt-center
              hr
              .text-center Copyright © 2019 All rights reserved
              br
              .media
                ul
                  li
                    a.ic-fb(target="_blank" href='https://www.facebook.com/QSSBoosting')
                      span.icons.icon-facebook.fab.fa-facebook-f
                  li
                    a.ic-tw(target="_blank" href='https://www.reddit.com/r/Lolboosting/comments/c2iirb/get_boosted_by_a_challenger_player_today_elevate/')
                      span.icons.icon-reddit.fab.fa-reddit-alien
                  li
                    a.ic-yt(target="_blank" href='https://discord.gg/GEwcEag')
                      span.icons.icon-discord.fab.fa-discord
    
    #BoostType.full-config
      .exit x
      .menu
        .option(data-option="div")
          h1 Division Boost
          h5 Go from one division to the next. Ex. Silver II → Gold IV. Recommended for 0-70LP.
        .option(data-option="win")
          h1 Net Wins Boost
          h5 If a booster loses a game they will win 2 games in return. 
            br
            | Ex: 3 Net Wins = 4 Wins + 1 Loss. Recommended for Promotional Series.
    
    #YourRank.full-config
      .exit x
      .menu
        .option(data-boostVal="0" data-option="iron")
          img.rankImg(src="assets/img/ranks/iron.png")
          h3 IRON
        .option(data-boostVal="1" data-option="bronze")
          img.rankImg(src="assets/img/ranks/bronze.png")
          h3 BRONZE
        .option(data-boostVal="2" data-option="silver")
          img.rankImg(src="assets/img/ranks/silver.png")
          h3 SILVER
        .option(data-boostVal="3" data-option="gold")
          img.rankImg(src="assets/img/ranks/gold.png")
          h3 GOLD
        .option(data-boostVal="4" data-option="platinum")
          img.rankImg(src="assets/img/ranks/platinum.png")
          h3 PLATINUM
        .option(data-boostVal="5" data-option="diamond")
          img.rankImg(src="assets/img/ranks/diamond.png")
          h3 DIAMOND
    #YourDiv.full-config
      .exit x
      .menu
        .option(data-boostVal="3" data-option="I")
          h3.divSel I
        .option(data-boostVal="2" data-option="II")
          h3.divSel II
        .option(data-boostVal="1" data-option="III")
          h3.divSel III
        .option(data-boostVal="0" data-option="IV")
          h3.divSel IV
    
    #SoloDuo.full-config
      .exit x
      .menu
        .option(data-option="Solo")
          h1 Solo
          h5 Have a booster play on your account. Win games while doing nothing!
        .option(data-option="Duo")
          h1 Duo
          h5 Play on your own account and duo with a booster. Watch them dominate your games!
    
    #WishRank.full-config
      .exit x
      .menu
        .option(data-boostVal="0" data-option="iron")
          img.rankImg(src="assets/img/ranks/iron.png")
          h3 IRON
        .option(data-boostVal="1" data-option="bronze")
          img.rankImg(src="assets/img/ranks/bronze.png")
          h3 BRONZE
        .option(data-boostVal="2" data-option="silver")
          img.rankImg(src="assets/img/ranks/silver.png")
          h3 SILVER
        .option(data-boostVal="3" data-option="gold")
          img.rankImg(src="assets/img/ranks/gold.png")
          h3 GOLD
        .option(data-boostVal="4" data-option="platinum")
          img.rankImg(src="assets/img/ranks/platinum.png")
          h3 PLATINUM
        .option(data-boostVal="5" data-option="diamond")
          img.rankImg(src="assets/img/ranks/diamond.png")
          h3 DIAMOND
    #WishDiv.full-config
      .exit x
      .menu
        .option(data-boostVal="3" data-option="I")
          h3.divSel I
        .option(data-boostVal="2" data-option="II")
          h3.divSel II
        .option(data-boostVal="1" data-option="III")
          h3.divSel III
        .option(data-boostVal="0" data-option="IV")
          h3.divSel IV
      
    #Purchase.full-config
      .exit x
      .container
        h1.txt-center.txt-primary Boost Account Information
        .row
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2
            input#emailPurchase.aumd-tb(name='Email', type='text', placeholder=' ' autocomplete="new-name").purchaseInputs
            label.aumd-tb-label(for='Email') Email
            span.validation
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2.duoRequired
            input#usernamePurchase.aumd-tb(name='Username', type='text', placeholder=' ' autocomplete="new-password").purchaseInputs
            label.aumd-tb-label(for='Username') In-Game Username
            span.validation
          .col-sm-12.soloRequired
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2.soloRequired
            input#loginPurchase.aumd-tb(name='Login', type='text', placeholder=' ' autocomplete="new-password").purchaseInputs
            label.aumd-tb-label(for='Login') Blizzard Login Username
            span.validation
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2.soloRequired
            input#passPurchase.aumd-tb(name='Password', type='password', placeholder=' ' autocomplete="new-password").purchaseInputs
            label.aumd-tb-label(for='Password') Blizzard Login Password
            span.validation
          .col-sm-12
          .tb-container.col-xs-12.col-sm-8.col-sm-push-2
            textarea#inquiryPurchase(name='Text', type='text', placeholder='Special requests or instructions...').purchaseInputs
          .tb-container.col-xs-12.col-sm-8.col-sm-push-2
            button#sendPurchase(style="width: 100%").button.disabled.txt-stylish Pay With PayPal
          .priceQuote.txt-primary.col-xs-12
            h1.price.txt-center
      
    #Contact.full-config
      .exit x
      .container
        h1.txt-center.txt-primary Contact Us
        form.row#contactForm
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2
            input#nameContact.aumd-tb(name='Name', type='text', placeholder=' ' autocomplete="new-name").contactInputs
            label.aumd-tb-label(for='Name') Name
            span.validation
          .tb-container.col-xs-12.col-sm-4.col-sm-push-2
            input#emailContact.aumd-tb(name='Email', type='text', placeholder=' ' autocomplete="new-email").contactInputs
            label.aumd-tb-label(for='Email') Email
            span.validation
          .tb-container.col-xs-12.col-sm-8.col-sm-push-2
            textarea#inquiryContact(name='Text', type='text', placeholder='How can we help you?').contactInputs
          .tb-container.col-xs-12.col-sm-8.col-sm-push-2
            button#sendContact(style="width: 100%" data-display="Contact").button.disabled.txt-stylish Send
          #success.tb-container.col-xs-12.col-sm-8.col-sm-push-2



    // Start of Tawk.to Script
    script(type='text/javascript').
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5d3b30009b94cd38bbe97e09/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    // End of Tawk.to Script
    script(src='assets/js/functions.js', type='text/javascript')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type='text/javascript')
